body {background-color:floralwhite;
font-family:Arial;
color:steelblue;
}
h1 { text-align:left;
font-size:18pt;
font-style:normal;
font-weight:bold;
border-bottom:solid thin;
}
.tr_selected {font-weight:bold;
background-color:#5bc0de;
color:floralwhite;
}
.tr_hover {font-weight:bold;
background-color:#c1e8f2;
color:floralwhite;
cursor:pointer;
}

/* .navbar-login {
	float: right;
} */